# Python
.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# VS Code
.vscode/*.code-workspace

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Environment
 .env 
processor/app/llm/secrets.yaml
